@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: 'Poppins';
    font-size: 13px;
    background-color: #f3f3f3;
    /* background-color: #FCFCFC; COLOR PARA ITEMS */
}

main {
    width: 1440px;
}

.page.active {
    filter: blur(2.950000047683716px);
    pointer-events: none;
    user-select: none;
}


/* DASHBOARD */
.info-dashboard {
    margin-top: 18px;
    width: 384px;
    height: 163px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Inter';


    .info {
        display: flex;
        padding: 20px 16px 20px 16px;
        flex-direction: column;
        gap: 16px;
    }

    h2 {
        margin: 0;
        color: #383E49;
        font-weight: 500;
    }
}

.items-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.quantity {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-family: 'Inter';

    i {
        display: flex;
        width: 30px;
        height: 30px;
        padding: 4px 4.224px 4.224px 4px;
        justify-content: center;
        align-items: center;
        font-size: 21px;
        color: #24B8F1;
        border-radius: 4px;
        background: #E5F7FD;

    }

    #cantidadProductos,
    #cantidadEmpleados {
        font-weight: 600;
        color: #5D6679;
        font-size: 16px;
    }

    span {
        color: #444;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
    }

}

/* INVENTARIO */

.inventory-title {
    margin-top: 18px;
    height: 60px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter';
    padding: 0 10px 0 10px;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    font-weight: 800;
    gap: 10px;
}

.title img {
    width: 30px;
    height: 30px;
}

.button-container {
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background: linear-gradient(90deg, #1B4865 0%, #3691CB 56%);
    border-radius: 8px;
    cursor: pointer;
    transition: border-radius 800ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    padding: 5px;
}

.button-container:hover {
    background: linear-gradient(90deg, #2E7AAB 0%, #133145 100%);
    animation: ease-in 800ms;
    border-radius: 8px;
}


.button-text-container {
    padding-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.button-text {
    color: white;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    word-break: normal;
}

.icon-container {
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-size: 18px;
}

.icon {
    color: #ffffff;
}

/* TABLA */
.inventory-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
    background: #FFF;
    font-family: 'Inter';
    gap: 85px;
}

.inventory-table th,
.inventory-table td {
    border-right: 1px solid #ddd;
    padding: 14px;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}

.inventory-table thead th {
    color: #667085;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    background: #FFF;
}

.inventory-table thead tr {
    background-color: #f4f4f4;
}

.inventory-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.inventory-table tbody tr:hover {
    background-color: #f1f1f1;
}

.inventory-table td i {
    cursor: pointer;
    margin: 0 5px;
    color: #333;
}

.inventory-table td i:hover {
    color: #3691CB;
}

.disponible {
    color: green;
    font-weight: bold;
}

.agotado {
    color: red;
    font-weight: bold;
}

/* POPUP AGREGAR PRODUCTOS */
.addProduct {
    display: flex;
    flex-direction: column;
    width: 495px;
    padding: 27px 28px;
    align-content: center;
    gap: 24px 12px;
    flex-wrap: wrap;
    border-radius: 8px;
    border: 1px solid #3E3D3D;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);    
}

.titulo {
    display: flex;
    flex-direction: row-reverse;
    color: #000;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;

}

.imgtext {
    width: 25px;
}

.items-add {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 24px;
    font-family: 'Inter';
}

.placeholderItem {
    display: flex;
    flex-direction: row;
    gap: 87px;
    align-items: center;
    justify-content: space-between;
}

.placeholderItem span {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: #48505E;
}

.form-control {
    display: flex;
    padding: 10px 14px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    font-family: Inter;
    font-size: 16px;

}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.buttonsAdd{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;        
}

.button-back {
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #9C9C9C;
    cursor: pointer;
    transition: border-radius 800ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.button-back:hover{
    background: #5457525b;
    transform: scale(1.05);
    transition: ease-in 100ms;
}

.back-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    padding: 5px;
}

.button-text#back, .icon#back {
    color: #535353;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    word-break: normal;
}    


.button-container#addProduct{
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background: #49a800;
    border-radius: 8px;        
    cursor: pointer;
    transition: border-radius 800ms cubic-bezier(0.25, 0.1, 0.25, 1);        
}

.button-container#addProduct:hover{        
    background: #89ce1a;
    transform: scale(1.05);
    transition: ease-in 100ms;
}    

.button-text#addProduct-text, .icon#addProduct-icon{
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    word-break: normal;
}

#popUp{
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;

}

#popUp.active{
    visibility: visible;
    top: 50%;
    opacity: 1;
    transition: 0.5s;
}


/* REPORTES */
.months{    
    position: absolute; 
    padding: 5px;        
    background-color: #0056d6;
    border-radius: 8px;
    overflow: hidden;
    color: #ffffff;          
    display: none;   
    top: 100%; 
    transition: 50ms ease-in-out;

    .listaReportes{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 16px;
        justify-content: center;
        justify-items: center;
        padding: 0px;
        margin: 5px;        
    }

    .dropdown-item{
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        cursor: pointer;
        padding: 10px;
        border: 1px solid #A6A6A6;
        border-left: none;
        border-right: none;
        border-top: none;
    }

    .dropdown-item:first-child {
        border-top: none;        
    }

    .dropdown-item:last-child{
        border-bottom: none;
    }
    
    .dropdown-item:hover {
        background-color: #001b3d57;
        transform: scale(1.03);        
        transition: ease-in-out 20ms;
    }
}

.months.active{
    display: block;        
    transition: 0.5s;
    margin: 0;
    opacity: 1;        
    top: 25%; 
    transition: 50ms ease-in-out;
}

/* EDIT - DELETE */
.btnEditar, .btnEliminar {
    border: none;
    background: none;
    cursor: pointer;
    margin-right: 5px;
}

.btnEditar i {
    color: #007bff; 
}

.btnEliminar i {
    color: #dc3545; 
}

.btnEditar:hover i, .btnEliminar:hover i {
    transform: scale(1.1);
}


/* EMPLEADOS */
.consultaProductos{
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #FFF;
    margin-top: 20px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
    border-right: 1px solid #F0F1F3;
    border-radius: 10px;
    gap: 20px;
    font-family: 'Inter';    
}

.placeholderProductos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .placeholderItem{
        gap: 30px;
    }
}

#tblFactura.inventory-table thead th{
    background-color:#5494d8;
    color: #000;
    font-weight: 700;
    font-size: 16px;
}


